/* styles in src/style directory are applied to the whole page */
body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  text-align: center;
  position: fixed;
  display: table-cell;
  vertical-align: middle;
  top: 50%;
  left: 0; right: 0;
  bottom: 0;
  background: #9999ff;
  overflow-y: scroll;
}

header {
  text-align: center;
  position: fixed;
  display: table-cell;
  vertical-align: middle;
  top: 0;
  left: 0; right: 0;
  bottom: 50%;
  background: #cccc99;
}

textarea {
  width: 90%;
  height: 70%;
  margin:20px auto;
  display: block;
}

button {
  width: 90%;
  height: 10%;
}

.output {
  margin: 50px;
  background: #fff;
  color: #000;
  padding: 10px;
}